body {
    height: 100%;
    margin: 0;
    background: #0967FF;
    font-family: Helvetica, Arial, sans-serif;
}

.global-container {
    display: flex;
    flex-direction: column;
    height: 118%;
    width: 100%;
    background: #F3F4F7;
}

.main-block {
    background: #F3F4F7;
    display: flex;
    height: 720px;
    width: 100%;
}

.subtitle {
    font-weight: 500;
    font-size: 28px;
    margin-top: 15px;
}

.logo {
    height: 106px;
    margin: -28px;

}

.content {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 980px;

}

.intro {
    margin-top: 112px;
    padding-top: 70px;
}

.auth {
    height: 456px;
    width: 396px;
    margin-top: 110px;

}

.card form {
    background: #FFFFFF;
    width: 396px;
    height: 349px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials input {
    width: 348px;
    height: 50px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding-left: 14px;
    max-width: 364px;
}

.credentials {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.forgot-passw {
    color: #0866ff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 16px;
}

.forgot-passw:hover {
    text-decoration: underline;
}

.create-account {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
}

.btn-login {
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    height: 48px;
    width: 364px;
    font-weight: 700;
    color: #FFFFFF;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-login:hover {
    background-color: #1A77F2;
}

.btn-create {
    background-color: #44B72B;
    height: 48px;
    width: 233px;
    border-radius: 6px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 17px;
    border: none;
    margin-top: 3px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-create:hover {
    background-color: #36a420;
}

.line {
    align-items: center;
    border-bottom: 1px solid #DADDE1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 90%;
}

.text {
    text-align: center;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    text-align: center;
    height: 200px;
    width: 100%;
    margin-top: auto;
}